*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}


header{
    background-color: orangered;
    position: fixed; 
    width: 100%; 
    z-index: 1;
    top: 0;
    left: 0;
    
}

main{
    margin-top: 60px;
    margin-bottom: 60px;
    
    
}

footer{
    padding: 30px;
    background-color: black;
    color: #fff;
}






/* Lyout classes */

.container{
    max-width: 900px;
    margin: 0 auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}


.col-15{
    width: 15%;
}

.col-33{
    width: calc(100% / 3);
}

.col-70{
    width: 70%;
}

.justify-content{
    justify-content: space-between;
}







/* Utility classes */

.py-10{
    padding: 10px 0px;
}

.text-center{
    text-align: center;
}

.labels{
    display: flex;
    position: absolute;
    bottom: 80px;
    left: 0;  
}

.heart{
    position: absolute;
    right: 0;
    top: 10px;
    background-color: #fff;
    padding: 10px;
    font-size: 20px;
}










/* Styling classes */

.content-header{
    color: #fff;
}

.content-header > ul{
    list-style-type: none;
}

ul li a{
    color: #fff;
    text-decoration: none;
}

ul.d-inline li{
    font-size: 11px;
    display: inline-block;
    margin: 0 5px 0 0px;
}

.content-header > .logo{
    width: 100px;
}

.content-header a i{
    color: #fff;
}


.content-main{
    margin: 10px;
    position: relative;
}

.content-main img{
    width: 100%;
}

.label{
    color: #fff;
    font-size: 12px;
    padding: 5px;
}


.label.bg-red{
    background-color: red;
    margin-right: 5px;
}

.label.bg-green{
    background-color: green;
    /* margin: 0 5px; */
}

.content-main > .description{
    font-size: 10px;
}

.description p span.text-red{
    color: red;
    font-weight: bold;
    font-size: 9px;
}

.description p span.t-line{
    text-decoration: line-through;
    font-size: 9px;
}


.content-main:hover .d-block{
    display: none;
}

.content-main:hover .d-none{
    display: block;
}

.d-block{
    display: block;
}

.d-none {
    display: none;
}


.social-text{
    font-size: 10px;
}


/* BONUS */

.heart:hover{
    color: red;
}


